<h1><%= @inbox_title %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <% if @inbox %>
        <th>From</th>
      <% else %>
        <th>To</th>
      <% end %>
      <th>Content</th>
      <th>Message type</th>
      <th>Status</th>
      <th>Action</th>

    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <% if @inbox %>
          <td><%= message.sender.email %></td>
        <% else %>
          <td><%= message.recipient.email %></td>
        <% end %>
        <td><%= message.inspect  %></td>
        <td><%= message.message_type %></td>
        <td><%= message.status %></td>
        <td>
          <% if message.message_type=="friend-request" && message.from_user_id==current_user.id%>
            <%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %> 
          <% end %>
          <% if message.message_type=="friend-request" && message.from_user_id!=current_user.id%>
            <%= link_to 'Reject', reject_friendship_path(message.from_user_id, message.to_user_id) %>
            <%= link_to 'Accept', accept_friendship_path(message.from_user_id, message.to_user_id) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
