<%= form_for(@workout, html:{class: "form-horizontal"}) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, class: 'col-sm-1 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date, class: 'col-sm-1 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :date, :value => @workout.try(:date).try(:strftime,'%Y-%m-%d %H:%M'), class: 'form-control', :placeholder => "YYYY-MM-DD hh:mm" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content, class: 'col-sm-1 control-label' %>
    <div class="col-sm-8">
      <%= f.text_area :content, size: "80x6", class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user_id, class: 'col-sm-1 control-label' %>
    <div class="col-sm-4">
    <% if @workout.new_record? %>
      <%= f.number_field :user_id, value: current_user.id %>
      <%= f.text_field :user_id, value: current_user.email, disabled: "disabled" %>
    <% else %>
      <%= f.number_field :user_id, value: @workout.user_id%>
      <%= f.text_field :user_id, value: @workout.user.try(:email), disabled: "disabled"%>
    <% end %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
