<h1>Listing workouts</h1>

<%= link_to 'New Workout', new_workout_path %>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Content</th>
      <th>User</th>
      <th>Action</th>

    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td class="col-sm-2"><%= workout.title %></td>
        <td class="col-sm-1"><%= workout.date %></td>
        <td class="col-sm-8"><%= workout.content %></td>
        <td><%= getNameOrEmail(workout.user) %></td>
        <td>
          <%= link_to 'Show', workout %>
          <%= link_to 'Edit', edit_workout_path(workout) %>
          <%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workout', new_workout_path %>
