<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @workout.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= raw @workout.content.gsub(/\n/, '<br>') %>
</p>

<p>
  <strong>User:</strong>
  <%= @workout.user_id %>
</p>

<% if @allowModify %>
	<%= link_to 'Edit', edit_workout_path(@workout) %> |
	<%= link_to 'Back', workouts_path %>
<% else %>
	<%= link_to 'Back', :back %>
<% end %>
