<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @excercise.name %>
</p>

<p>
  <strong>Description:</strong>
  <%=  raw @excercise.description.gsub(/\n/, '<br>') %>
</p>

<p>
  <strong>Url:</strong>
  <br>
  <iframe width="425" height="349" src="<%= @excercise.url %>" frameborder="0" allowfullscreen></iframe>
</p>

<%= link_to 'Edit', edit_excercise_path(@excercise) %> |
<%= link_to 'Back', excercises_path %>
