<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @excercise.name %>
</p>

<% unless @excercise.description.empty? %>
	<p>
	  <strong>Description:</strong>
	  <%=  raw @excercise.description.gsub(/\n/, '<br>') %>
	</p>
<% end %>

<% unless @excercise.has_attribute?(:url) %>
	<p><strong>URL: </strong><a href="<%= @excercise.url %>"><%= @excercise.url %></a>
<% end %>

<% unless @excercise.has_attribute?(:video_url) %>
	<p>
	  <strong>Video:</strong>
	  <br>
	  <iframe width="425" height="349" src="<%= @excercise.video_url %>" frameborder="0" allowfullscreen></iframe>
	</p>
<% end %>

<div clas="clearfix">&nbsp;</div>

<!-- 
<%= link_to 'Edit', edit_excercise_path(@excercise) %> |
-->
<%= link_to 'Back', session[:return_to] %>
