<%= form_for(@user, html:{class: "form-horizontal"}) do |f| %>
  <%#= @user.inspect %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.text_field :email, class: 'form-control' %>
      </div>
  </div>
  <div class="form-group">
    <%= f.label :first_name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :display_name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :display_name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :alternative_email, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :alternative_email, class: 'form-control' %>
    </div>
  </div>
  <% if @user.new_record? %>
    <div class="form-group">
      <%= f.label :password, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, "Confirmation", class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </div>
  <% else %>
    <%= hidden_field_tag "action_details", "update" %>
  <% end %>
  <div class="form-group col-sm-6">
    <div class="pull-right">
      <%= f.submit %>
    </div>
  </div>

  <pre style="clear: both;">
    <%= @user.inspect %>
  </pre>

<% end %>
