<h1>My group details</h1>

<div class="col-sm-4">
  <h2>Edit group</h2>
  <%= form_tag(mygroups_path, class: "form-horizontal") do |f| %>
    <% if @group.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@group.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @group.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
    </div>
    <div class="form-group">
      <%= label_tag "name", nil, class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= text_field_tag "name", @group.name, class: 'form-control'%>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag "description", nil, class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= text_area_tag "description", @group.description, rows: 5, class: 'form-control'%>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag "summary from", nil, class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= date_field "summary_from", nil, value: @group.summary_from.try(:strftime, '%Y-%m-%d'), class: 'form-control'%>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag "public", nil, class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= check_box_tag "public", 1, @group.public, class: 'form-control'%>
      </div>
    </div>
    <div class="form-group">
      <div><label class="col-sm-3 control-label">addme link</label></div>
      <div class="col-sm-9">
          <%= add_me_to_group_url(@group) %>
      </div>
    </div>
    <div class="form-group col-sm-12">
      <% if @group.new_record? %>
        <%= submit_tag "Create group", value: "create", class: "btn btn-large btn-primary pull-right" %>
      <% else %>
        <%= submit_tag "Update group", value: "update", class: "btn btn-large btn-primary pull-right" %>
      <% end %>
      <%= hidden_field_tag "id", @group.id%>
    </div>
  <% end %>
</div>
<div class="col-sm-4">
  <h2>Current members</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Display name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @members.each do |user| %>
        <tr>
          <td><%= user.display_name %></td>
          <td><%= user.email %></td>
          <td>
            <%= link_to 'Remove', "/user/#{user.id}/remove-from-group/#{@group.id}" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
<div class="col-sm-4">
  <h2>Add members</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Display name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @nonmembers.each do |user| %>
        <tr>
          <td><%= user.display_name %></td>
          <td><%= user.email %></td>
          <td>
            <%= link_to 'Add', "/user/#{user.id}/add-to-group/#{@group.id}" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
