<div class="col-sm-6">
	<h1>User: <%= @user.email %></h1>
	<div class="row">
		<div class="col-sm-3 text-right"><strong>first name:</strong></div>
		<div class="col-sm-6"><%= @user.first_name %></div>
	</div>
	<div class="row">
		<div class="col-sm-3 text-right"><strong>last name:</strong></div>
		<div class="col-sm-6"><%= @user.last_name %></div>
	</div>
	<div class="row">
		<div class="col-sm-3 text-right"><strong>display_name:</strong></div>
		<div class="col-sm-6"><%= @user.display_name %></div>
	</div>
</div>
<div class="col-sm-6">
	<% if @user.profile %>
	<h1>Profile</h1>
		<div class="row">
			<div class="col-sm-3 text-right"><strong>birth_date:</strong></div>
			<div class="col-sm-6"><%= @user.profile.birth_date %></div>
		</div>
		<div class="row">
			<div class="col-sm-3 text-right"><strong>country:</strong></div>
			<div class="col-sm-6"><%= @user.profile.country %></div>
		</div>
		<div class="row">
			<div class="col-sm-3 text-right"><strong>city:</strong></div>
			<div class="col-sm-6"><%= @user.profile.city %></div>
		</div>
		<div class="row">
			<div class="col-sm-3 text-right"><strong>bio:</strong></div>
			<div class="col-sm-6"><%= raw @user.profile.bio.gsub(/\n/, '<br>') %></div>
		</div>
		<div class="row">
			<div class="col-sm-3 text-right"><strong>weight:</strong></div>
			<div class="col-sm-6"><%= @user.profile.weight %></div>
		</div>
		<div class="row">
			<div class="col-sm-3 text-right"><strong>height:</strong></div>
			<div class="col-sm-6"><%= @user.profile.height %></div>
		</div>
	<% end %>
</div>

<div class="clearfix">
</div>

<br><br>
<p>
	<%= link_to 'Back', :back %>
</p>
