<%= form_for(@workout_unit) do |f| %>
  <% if @workout_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout_unit.errors.count, "error") %> prohibited this workout_unit from being saved:</h2>

      <ul>
      <% @workout_unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :workout_unit_type_id %><br>
    <%= f.number_field :workout_unit_type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
