<div class="center hero-unit">
  <!--
  <h1>Welcome to the Workout tracker</h1>
  -->
  <% if signed_in? %>
    <!--
  	<p>You are signed in as: <%= current_user.email %>, class: <%= current_user.user_class%></p>
  	<p>
  		<%= link_to "Log out!", signout_path, method: "delete", class: "btn btn-large btn-success" %>
  	</p>
    -->
  <% else %>
    <h1>Welcome to the Workout tracker</h1>
  
  	<p>
      <%= link_to "Login with facebook!", "/auth/facebook", class: "btn btn-large btn-info" %>
      <%= link_to "Sign in!", signin_path, class: "btn btn-large btn-success" %>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
		</p>
  <% end %>

  <% if signed_in? %>
    <div class="col-sm-6">
      <h1>YB Tracker</h1>
			<!-- YB practice units tracker -->
			<div>
				<%= raw workout_unit_selector "window.wt.selectWorkoutUnit" %>
				<%= raw draw_calendar %>
			</div>
			<!-- end of YB practice units tracker -->
	    <div class="clearfix"></div>
      Click on the day (that changes to + sign) to add workout unit. To remove workout unit hold shift and click on it.
      <br>
      <%= link_to "YB Tracker details", workout_units_summary_path %>
	    <div style="height:20px;"></div>

      <h1>NEWS !!!</h1>
      <hr style="border-top: 1px solid black; margin:0px 0 10px 0">
      <div style="border: 1px dotted; max-height: 300px; overflow-y: scroll;">
	      <% @news.each do |news| %>
	        <div>
	          <div class="news-title">
	            <h3 style="display: inline"><%= news.title %></h3>
	            written by: 
	              <%= link_to getNameOrEmail(news.user), view_profile_path(news.user.id), :style => 'color: #AA55CC' %>
	            </div>
	          <div class="news-content" style="margin-top: 10px"><%= raw news.content.gsub(/\n/, '<br>') %></div>
	        </div>
	      <% end %>
	    </div>
    </div>


    <div class="col-sm-3">
      <h2>Excercises</h2>
      <div style="height: 200px; overflow-y: scroll; border: 1px dotted">
        <table class="table table-striped">
          <tbody>
            <% if @excercises %>
              <% @excercises.each do |excercise| %>
                <tr>
                  <td>
                    <%= link_to excercise.name, excercise_path(excercise.id), :style =>'border-bottom:1px dotted;' %>
                    by:
                    <span style="color: #AA55CC">
                      <%= link_to getNameOrEmail(excercise.user), view_profile_path(excercise.user.id), :style => 'color: #AA55CC' %>
                    </span>
                    <%= time_ago_in_words(excercise.updated_at) %> ago
                  </td>
                  <td class="text-left">
                    
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>


    <div class="col-sm-3">
      <h2>My Groups Wrkts</h2>

      <div style="height: 200px; overflow-y: scroll; border: 1px dotted">
        <table class="table table-striped">
          <tbody>
            <% if @groupworkouts %>
              <% @groupworkouts.each do |workout| %>
                <tr>
                  <td>
                    <span style="color: #AA55CC">
                      <%= link_to getNameOrEmail(workout.user), view_profile_path(workout.user.id), :style => 'color: #AA55CC' %>:
                    </span>
                    <%= link_to workout.title, workout_details_path(workout.id), :style =>'border-bottom:1px dotted;' %>
                    <% if workout.workout_joins.count > 0 %>
                      with:
                      <% workout.workout_joins.each do |wj| %>
                        <%= link_to getNameOrEmail(User.find(wj.user_id)), view_profile_path(User.find(wj.user_id).id), :style => 'color: #8888EE' %>,
                      <% end %>
                    <% end %>
                    <%= time_ago_in_words(workout.date) %> ago
                    <%= link_to "[join]", join_workout_path(workout.id) %>
                  </td>
                  <td class="text-left">
                    
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

      <div>&nbsp;</div>
      
      <h2>All Workouts</h2>
      <div style="height: 200px; overflow-y: scroll; border: 1px dotted">
        <table class="table table-striped">
          <tbody>
            <% @workouts.each do |workout| %>
              <tr>
                <td>
                  <span style="color: #AA55CC">
                    <% if workout.user.display_name && workout.user.display_name!='' %>
                      <%= workout.user.display_name %>
                    <% else %> 
                      <%= workout.user.email %>
                    <% end %>
                  </span>
                  logged: 
                  <%= link_to workout.title, workout_details_path(workout.id) %>
                  at: 
                  <%= workout.date %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>


    </div>
  <% end %>
</div>
