<div class="center hero-unit">
  <h1>Welcome to the Workout tracker</h1>
  <% if signed_in? %>
  	<p>You are signed in as: <%= current_user.email %>, class: <%= current_user.user_class%></p>
  	<p>
  		<%= link_to "Log out!", signout_path, method: "delete", class: "btn btn-large btn-success" %>
  	</p>
  <% else %>
  	<p>
		  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
		  <%= link_to "Sign in!", signin_path, class: "btn btn-large btn-success" %>
		</p>
  <% end %>
</div>
