<%# add navigation links to this file %>
<% if signed_in? %>
	<li><a href="/users">Users</a></li>
	<li><a href="/workouts">Workouts</a></li>
	<li><a href="/my-measurements" data-no-turbolink>My measurements</a></li>
	<li id="fat-menu" class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		Resources <b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li><a href="/excercises">Excercises</a></li>
			<li><a href="/measurements">Measurements</a></li>
			<% if is_admin? %>
				<li><a href="/articles">Articles</a></li>
			<% end %>
		</ul>
	</li>
<% end %>

<% if signed_in? %>
	<li id="fat-menu" class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		Account <b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="/users/<%= current_user.id%>/edit">Profile</a>
			</li>
			<li><%= link_to "My groups", mygroups_path %>
			<li><%= link_to "Groups i'm in", groups_i_am_in_path %>
			<!--<li><%= link_to "Settings", '#' %></li>-->
			<li class="divider"></li>
			<li>
			<%= link_to "Sign out", signout_path, method: "delete" %>
			</li>
			<li class="divider"></li>
			<li><a href="#"><%= current_user.email %></a></li>
			<li><a href="#">role: <%= current_user.user_class %></a></li>
			<li><a href="/inbox/in">in: <%= current_user.received_messages.count %></a></li>
			<li><a href="/inbox/out">out: <%= current_user.sent_messages.count %></a></li>
		</ul>
	</li>
	<% else %>
	<li><%= link_to "Sign in", signin_path %></li>
<% end %>

<% if is_admin? %>
	<%if own_only? %>
		<li><%= link_to "toggle all", toggleown_path %></li>
	<% else %>
		<li><%= link_to "toggle own only", toggleown_path %></li>
	<% end %>
<% end %>
